## Just Wanted to Illustrate a Quirk in this dataset

In [1]:
#Imports and libraries here
%pylab inline

import os
import pandas as pd
import matplotlib.pylab as plt

plt.style.use('ggplot')
pd.set_option('display.max_columns', None)

Populating the interactive namespace from numpy and matplotlib

## Loading two of the datasets
Here we've go the list of plan attributes, and the list of plan rates (montly premiums). I think these should have the same plans listed in them

In [3]:
#All our datasets live in /data directory.
data_path = "../data/2016"

plan_attr_df = pd.read_csv(os.path.join(data_path, 'plan-attributes-puf.csv'), low_memory=False)
plan_rate_df = pd.read_csv(os.path.join(data_path, 'rate-puf.csv'), low_memory=False)

## Notice
That what goes by the name "PlanID" in one dataset has the name "StandardComponentID" in the other. These seem to be unique identifiers for each plan. We think the two letters in the middle correspond to the state.

In [6]:
n2print = 10
print plan_attr_df.StandardComponentId.values[0:n2print]
print plan_attr_df.StandardComponentId.values[0:n2print]

['21989AK0030001' '21989AK0050001' '38344AK1020001' '38344AK1020001'
 '21989AK0080001' '21989AK0030001' '21989AK0080002' '21989AK0050001'
 '21989AK0050002' '21989AK0090001']
['21989AK0030001' '21989AK0050001' '38344AK1020001' '38344AK1020001'
 '21989AK0080001' '21989AK0030001' '21989AK0080002' '21989AK0050001'
 '21989AK0050002' '21989AK0090001']

## Whats wierd
Is that for some states, the number of plans in the two datasets matches, well, while in others there's a big discrepency.

In [7]:
attrplancount = plan_attr_df.groupby('StateCode').StandardComponentId.nunique()
rateplancount = plan_rate_df.groupby('StateCode').PlanId.nunique()
pd.DataFrame([attrplancount, rateplancount])

,AK,AL,AR,AZ,DE,FL,GA,HI,IA,IL,IN,KS,LA,ME,MI,MO,MS,MT,NC,ND,NE,NH,NJ,NM,NV,OH,OK,OR,PA,SC,SD,TN,TX,UT,VA,WI,WV,WY
StandardComponentId,94,99,65,235,88,559,362,33,167,496,225,128,159,141,380,230,66,128,209,126,125,107,220,47,101,597,313,132,490,234,90,223,822,102,317,718,106,111
PlanId,94,99,65,235,88,559,362,33,167,183,225,2,159,6,4,230,66,3,209,126,NaN,2,220,NaN,2,NaN,313,NaN,490,234,NaN,223,822,NaN,6,718,2,111